In [292]:
import pandas as pd
diseases = pd.read_csv("Diseases4.csv")
diseases.head()

,Region,Code,Cname,Disease,2016,2015,2014,2013,2012,2011,...,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,EMR,AFG,Afghanistan,measles,638,1154,492,430,2787,3013,...,2861,1599,1141,1990,1296,466,798,2486,8762,6532
1,EUR,ALB,Albania,measles,17,-1,-1,0,9,28,...,0,-1,22,68,6,7,8,16,18,662
2,AFR,DZA,Algeria,measles,41,63,0,25,18,112,...,107,217,0,944,2302,3289,15374,5862,2686,-1
3,EUR,AND,Andorra,measles,0,-1,-1,0,0,0,...,0,0,0,0,0,0,0,1,5,2
4,AFR,AGO,Angola,measles,53,118,11699,8523,4458,1449,...,2807,265,1014,765,258,29,1196,11945,9046,2219

In [293]:
vaccines = pd.read_csv("VaccinesAll.csv")
vaccines.head()

,NamePublicationEnglish,WHOregionCode,ISO3countryCode,VaccineCode,Year,TargetGroup,DosesAdministered,PerCentCoverage
0,Afghanistan,EMRO,AFG,BCG,2000,1079435.0,412754.0,38.0
1,Afghanistan,EMRO,AFG,DTP1,2000,901328.0,373578.0,41.0
2,Afghanistan,EMRO,AFG,DTP3,2000,901328.0,276406.0,31.0
3,Afghanistan,EMRO,AFG,HepB_BD,2000,-1.0,-1.0,-1.0
4,Afghanistan,EMRO,AFG,HepB3,2000,-1.0,-1.0,-1.0

In [294]:
print(sorted(set(vaccines.VaccineCode)))
print(set(diseases.Disease))

['BCG', 'DTP1', 'DTP3', 'DTP4', 'HepB3', 'HepB_BD', 'HepB_BDall', 'Hib3', 'IPV1', 'JapEnc', 'MCV1', 'MCV2', 'MenA', 'PCV1', 'PCV2', 'PCV3', 'Pol3', 'RCV1', 'Rota1', 'RotaC', 'VAD1', 'YFV', 'rotac']
{'Mumps', 'pertussis', 'Rubella', 'measles'}

In [295]:
#measles -> MCV1
#rubella -> RCV1
#mumps ->
#pertussis -> DTP1
diseases = diseases[(diseases.Disease != "Mumps")]
vaccines = vaccines[(vaccines.VaccineCode == "MCV1") | (vaccines.VaccineCode == "RCV1") | (vaccines.VaccineCode == "DTP1")]
print(set(vaccines.VaccineCode))
print(set(diseases.Disease))

{'MCV1', 'RCV1', 'DTP1'}
{'pertussis', 'Rubella', 'measles'}

In [296]:
population = pd.read_csv("Population.csv")
population.head()

,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,ABW,90853,92898,94992.0,97017.0,98737.0,100031.0,100832.0,101220.0,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822
1,AFG,20093756,20966463,21979923.0,23064851.0,24118979.0,25070798.0,25893450.0,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032
2,AGO,16440924,16983266,17572649.0,18203369.0,18865716.0,19552542.0,20262399.0,20997687.0,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463
3,ALB,3089027,3060173,3051010.0,3039616.0,3026939.0,3011487.0,2992547.0,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101
4,AND,65390,67341,70049.0,73182.0,76244.0,78867.0,80991.0,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281

In [297]:
print(len(set(vaccines.ISO3countryCode)))
CountryCodeAll = set(diseases.Code) ####### NEED #######
print(len(set(diseases.Code)))
print(len(set(population["Country Code"])))
print(CountryCodeAll)

227
194
264
{'URY', 'AFG', 'DMA', 'LCA', 'WSM', 'SAU', 'BTN', 'FSM', 'PRY', 'HRV', 'ZAF', 'VUT', 'DOM', 'BEL', 'PRT', 'IRQ', 'BRN', 'PAN', 'CHE', 'NPL', 'ISL', 'DEU', 'NIC', 'PNG', 'MDV', 'MLI', 'BHS', 'SLE', 'NOR', 'JOR', 'SSD', 'YEM', 'POL', 'NIU', 'GBR', 'SLV', 'AGO', 'EGY', 'KNA', 'UKR', 'PLW', 'KEN', 'LBR', 'LTU', 'KHM', 'STP', 'BIH', 'LVA', 'QAT', 'CMR', 'BGR', 'BWA', 'KGZ', 'LBN', 'LUX', 'GAB', 'SRB', 'TUV', 'AZE', 'PRK', 'GNB', 'TON', 'FIN', 'JAM', 'CUB', 'AUS', 'BLZ', 'DNK', 'ESP', 'ATG', 'TJK', 'USA', 'PER', 'SUR', 'SWE', 'LAO', 'CPV', 'SWZ', 'TLS', 'MMR', 'UZB', 'MDG', 'COL', 'MAR', 'COK', 'LSO', 'CYP', 'MNE', 'DZA', 'ITA', 'ARM', 'TZA', 'DJI', 'ALB', 'PAK', 'TGO', 'BFA', 'MOZ', 'BOL', 'BEN', 'COD', 'HTI', 'MLT', 'SVN', 'NGA', 'HND', 'HUN', 'BDI', 'TTO', 'VNM', 'GEO', 'MDA', 'VEN', 'MNG', 'ROU', 'BRA', 'CAN', 'ECU', 'CHL', 'TKM', 'NAM', 'NLD', 'CZE', 'AUT', 'ZMB', 'MWI', 'PHL', 'CIV', 'CAF', 'KAZ', 'KWT', 'ERI', 'GHA', 'NRU', 'OMN', 'IDN', 'THA', 'BGD', 'ETH', 'ARG', 'ISR', 'CRI', 'ARE', 'KOR', 'JPN', 'ZWE', 'KIR', 'VCT', 'TCD', 'MKD', 'SYC', 'GUY', 'BHR', 'COM', 'FJI', 'LBY', 'SDN', 'GIN', 'GNQ', 'GMB', 'RWA', 'AND', 'IND', 'SVK', 'SOM', 'GRC', 'GTM', 'IRN', 'MCO', 'TUN', 'NZL', 'COG', 'MRT', 'SMR', 'LKA', 'MYS', 'EST', 'GRD', 'RUS', 'TUR', 'SEN', 'SGP', 'MEX', 'FRA', 'SLB', 'MUS', 'BRB', 'UGA', 'MHL', 'CHN', 'NER', 'IRL', 'SYR', 'BLR'}

In [298]:
codes = []
notin = []
for item in set(population["Country Code"]):
    if item in set(diseases.Code):
        codes.append(item)
    else:
        notin.append(item)
print(notin)
print(len(notin))
print(269-194)
print(set(vaccines.Year))

['HKG', 'OED', 'LAC', 'MNP', 'IBT', 'EMU', 'BMU', 'LTE', 'NAC', 'PRE', 'TSA', 'SSA', 'ECS', 'MAF', 'IBD', 'ASM', 'VGB', 'TCA', 'XKX', 'MNA', 'CYM', 'ARB', 'HIC', 'PSE', 'INX', 'UMC', 'SST', 'FRO', 'IMN', 'IDX', 'GUM', 'CHI', 'CSS', 'MAC', 'LDC', 'VIR', 'IDA', 'PST', 'OSS', 'SAS', 'TEA', 'SSF', 'PRI', 'EAS', 'FCS', 'CEB', 'EAP', 'MEA', 'LIE', 'LMC', 'NCL', 'HPC', 'LIC', 'EUU', 'PYF', 'TEC', 'LCN', 'TMN', 'ECA', 'GRL', 'MIC', 'PSS', 'WLD', 'ABW', 'SXM', 'TLA', 'IDB', 'CUW', 'LMY', 'EAR', 'TSS', 'GIB']
72
75
{2016, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015}

In [299]:
import numpy as np
diseases = diseases[(diseases.Disease == "measles")]  ### change for different diseases
vaccines = vaccines[(vaccines.VaccineCode == "MCV1")]  ### change for different diseases
diseases = diseases.set_index(np.arange(0, diseases.shape[0]))
vaccines = vaccines.set_index(np.arange(0, vaccines.shape[0]))
print(diseases.Code)
print(vaccines.ISO3countryCode)
print(population["Country Code"])

0      AFG
1      ALB
2      DZA
3      AND
4      AGO
5      ATG
6      ARG
7      ARM
8      AUS
9      AUT
10     AZE
11     BHS
12     BHR
13     BGD
14     BRB
15     BLR
16     BEL
17     BLZ
18     BEN
19     BTN
20     BOL
21     BIH
22     BWA
23     BRA
24     BRN
25     BGR
26     BFA
27     BDI
28     CPV
29     KHM
      ...
164    SUR
165    SWZ
166    SWE
167    CHE
168    SYR
169    TJK
170    THA
171    MKD
172    TLS
173    TGO
174    TON
175    TTO
176    TUN
177    TUR
178    TKM
179    TUV
180    UGA
181    UKR
182    ARE
183    GBR
184    TZA
185    USA
186    URY
187    UZB
188    VUT
189    VEN
190    VNM
191    YEM
192    ZMB
193    ZWE
Name: Code, dtype: object
0       AFG
1       AFG
2       AFG
3       AFG
4       AFG
5       AFG
6       AFG
7       AFG
8       AFG
9       AFG
10      AFG
11      AFG
12      AFG
13      AFG
14      AFG
15      AFG
16      AFG
17      ALB
18      ALB
19      ALB
20      ALB
21      ALB
22      ALB
23      ALB
24      ALB
25      ALB
26      ALB
27      ALB
28      ALB
29      ALB
       ...
3291    ZMB
3292    ZMB
3293    ZMB
3294    ZMB
3295    ZMB
3296    ZMB
3297    ZMB
3298    ZMB
3299    ZMB
3300    ZMB
3301    ZMB
3302    ZMB
3303    ZMB
3304    ZWE
3305    ZWE
3306    ZWE
3307    ZWE
3308    ZWE
3309    ZWE
3310    ZWE
3311    ZWE
3312    ZWE
3313    ZWE
3314    ZWE
3315    ZWE
3316    ZWE
3317    ZWE
3318    ZWE
3319    ZWE
3320    ZWE
Name: ISO3countryCode, dtype: object
0      ABW
1      AFG
2      AGO
3      ALB
4      AND
5      ARB
6      ARE
7      ARG
8      ARM
9      ASM
10     ATG
11     AUS
12     AUT
13     AZE
14     BDI
15     BEL
16     BEN
17     BFA
18     BGD
19     BGR
20     BHR
21     BHS
22     BIH
23     BLR
24     BLZ
25     BMU
26     BOL
27     BRA
28     BRB
29     BRN
      ...
234    TLA
235    TLS
236    TMN
237    TON
238    TSA
239    TSS
240    TTO
241    TUN
242    TUR
243    TUV
244    TZA
245    UGA
246    UKR
247    UMC
248    URY
249    USA
250    UZB
251    VCT
252    VEN
253    VGB
254    VIR
255    VNM
256    VUT
257    WLD
258    WSM
259    XKX
260    YEM
261    ZAF
262    ZMB
263    ZWE
Name: Country Code, dtype: object

In [300]:
CC = []
for item in set(population["Country Code"]):
    if item in set(vaccines.ISO3countryCode):
        if item in set(diseases.Code):
            CC.append(item)
print(CC)

['URY', 'AFG', 'DMA', 'LCA', 'WSM', 'SAU', 'BTN', 'FSM', 'PRY', 'HRV', 'ZAF', 'VUT', 'DOM', 'BEL', 'PRT', 'CHE', 'BRN', 'IRQ', 'PAN', 'NPL', 'ISL', 'DEU', 'NIC', 'PNG', 'MDV', 'MLI', 'BHS', 'SLE', 'NOR', 'JOR', 'SSD', 'YEM', 'POL', 'GBR', 'SLV', 'AGO', 'EGY', 'KNA', 'UKR', 'PLW', 'KEN', 'LBR', 'LTU', 'KHM', 'STP', 'BIH', 'LVA', 'QAT', 'CMR', 'BGR', 'BWA', 'KGZ', 'LBN', 'LUX', 'GAB', 'SRB', 'TUV', 'AZE', 'GNB', 'PRK', 'FIN', 'TON', 'JAM', 'CUB', 'AUS', 'BLZ', 'DNK', 'ESP', 'ATG', 'TJK', 'USA', 'PER', 'SUR', 'SWE', 'LAO', 'CPV', 'SWZ', 'TLS', 'MMR', 'UZB', 'MDG', 'COL', 'MAR', 'LSO', 'CYP', 'MNE', 'DZA', 'ITA', 'ARM', 'TZA', 'DJI', 'ALB', 'PAK', 'TGO', 'BFA', 'MOZ', 'BOL', 'BEN', 'COD', 'HTI', 'MLT', 'SVN', 'NGA', 'HND', 'HUN', 'BDI', 'THA', 'TTO', 'VNM', 'GEO', 'MDA', 'VEN', 'MNG', 'ROU', 'BRA', 'CAN', 'ECU', 'CHL', 'TKM', 'NAM', 'NLD', 'CZE', 'AUT', 'ZMB', 'MWI', 'PHL', 'CIV', 'CAF', 'KAZ', 'KWT', 'ERI', 'GHA', 'NRU', 'IDN', 'OMN', 'BGD', 'ETH', 'ARG', 'ISR', 'CRI', 'ARE', 'KOR', 'JPN', 'ZWE', 'KIR', 'VCT', 'TCD', 'MKD', 'SYC', 'GUY', 'BHR', 'COM', 'FJI', 'LBY', 'SDN', 'GIN', 'GMB', 'GNQ', 'RWA', 'AND', 'IND', 'SOM', 'SVK', 'GRC', 'GTM', 'IRN', 'MCO', 'TUN', 'COG', 'NZL', 'MRT', 'SMR', 'LKA', 'MYS', 'EST', 'GRD', 'RUS', 'TUR', 'SEN', 'SGP', 'MEX', 'FRA', 'SLB', 'MUS', 'BRB', 'UGA', 'MHL', 'CHN', 'NER', 'IRL', 'SYR', 'BLR']

In [301]:
Code = []
year = []
instances = []
for v in range(0, len(vaccines.ISO3countryCode)):
    if vaccines.ISO3countryCode[v] in CC:
        Code.append(vaccines.ISO3countryCode[v])
        year.append(vaccines.Year[v])
        instances.append(vaccines.PerCentCoverage[v])
        
Vaccines = pd.DataFrame()
Vaccines["Code"] = Code
Vaccines["year"] = year
Vaccines["VaccinePct"] = instances
Vaccines.head()

  Code  year  VaccinePct
0  AFG  2000        35.0
1  AFG  2001        56.0
2  AFG  2002        43.7
3  AFG  2003        49.7
4  AFG  2004        60.0

In [302]:
Cname = []
Code = []
year = []
instances = []
for d in range(0, len(diseases.Cname)):
    if diseases.Code[d] in set(CC):
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2000)
        instances.append(diseases["2000"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2001)
        instances.append(diseases["2001"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2002)
        instances.append(diseases["2002"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2003)
        instances.append(diseases["2003"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2004)
        instances.append(diseases["2004"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2005)
        instances.append(diseases["2005"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2006)
        instances.append(diseases["2006"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2007)
        instances.append(diseases["2007"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2008)
        instances.append(diseases["2008"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2009)
        instances.append(diseases["2009"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2010)
        instances.append(diseases["2010"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2011)
        instances.append(diseases["2011"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2012)
        instances.append(diseases["2012"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2013)
        instances.append(diseases["2013"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2014)
        instances.append(diseases["2014"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2015)
        instances.append(diseases["2015"][d])
        Cname.append(diseases.Cname[d])
        Code.append(diseases.Code[d])
        year.append(2016)
        instances.append(diseases["2016"][d])
print(len(Cname))
print(len(Code))
print(len(year))
print(len(instances))

3264
3264
3264
3264

In [303]:
Diseases = pd.DataFrame()
Diseases["Cname"] = Cname
Diseases["Code"] = Code
Diseases["year"] = year
Diseases["instances"] = instances
Diseases = Diseases.sort_values(by=['Code', 'year'])
Diseases = Diseases.set_index(np.arange(0, Diseases.shape[0]))
Diseases.head()

         Cname Code  year  instances
0  Afghanistan  AFG  2000       6532
1  Afghanistan  AFG  2001       8762
2  Afghanistan  AFG  2002       2486
3  Afghanistan  AFG  2003        798
4  Afghanistan  AFG  2004        466

In [304]:
Code = []
year = []
instances = []
for p in range(0, len(population["Country Code"])):
    if population["Country Code"][p] in CC:
        Code.append(population["Country Code"][p])
        year.append(2000)
        instances.append(population["2000"][p])
        Code.append(population["Country Code"][p])
        year.append(2001)
        instances.append(population["2001"][p])
        Code.append(population["Country Code"][p])
        year.append(2002)
        instances.append(population["2002"][p])
        Code.append(population["Country Code"][p])
        year.append(2003)
        instances.append(population["2003"][p])
        Code.append(population["Country Code"][p])
        year.append(2004)
        instances.append(population["2004"][p])
        Code.append(population["Country Code"][p])
        year.append(2005)
        instances.append(population["2005"][p])
        Code.append(population["Country Code"][p])
        year.append(2006)
        instances.append(population["2006"][p])
        Code.append(population["Country Code"][p])
        year.append(2007)
        instances.append(population["2007"][p])
        Code.append(population["Country Code"][p])
        year.append(2008)
        instances.append(population["2008"][p])
        Code.append(population["Country Code"][p])
        year.append(2009)
        instances.append(population["2009"][p])
        Code.append(population["Country Code"][p])
        year.append(2010)
        instances.append(population["2010"][p])
        Code.append(population["Country Code"][p])
        year.append(2011)
        instances.append(population["2011"][p])
        Code.append(population["Country Code"][p])
        year.append(2012)
        instances.append(population["2012"][p])
        Code.append(population["Country Code"][p])
        year.append(2013)
        instances.append(population["2013"][p])
        Code.append(population["Country Code"][p])
        year.append(2014)
        instances.append(population["2014"][p])
        Code.append(population["Country Code"][p])
        year.append(2015)
        instances.append(population["2015"][p])
        Code.append(population["Country Code"][p])
        year.append(2016)
        instances.append(population["2016"][p])
print(len(Code))
print(len(year))
print(len(instances))

3264
3264
3264

In [305]:
Population = pd.DataFrame()
Population["Code"] = Code
Population["year"] = year
Population["population"] = instances
Population = Population.sort_values(by=['Code', 'year'])
Population = Population.set_index(np.arange(0, Population.shape[0]))
Population.head()

  Code  year  population
0  AFG  2000  20093756.0
1  AFG  2001  20966463.0
2  AFG  2002  21979923.0
3  AFG  2003  23064851.0
4  AFG  2004  24118979.0

In [306]:
CC = []
for item in set(population["Country Code"]):
    if item in set(vaccines.ISO3countryCode):
        if item in set(diseases.Code):
            CC.append(item)
print(CC)

['URY', 'AFG', 'DMA', 'LCA', 'WSM', 'SAU', 'BTN', 'FSM', 'PRY', 'HRV', 'ZAF', 'VUT', 'DOM', 'BEL', 'PRT', 'CHE', 'BRN', 'IRQ', 'PAN', 'NPL', 'ISL', 'DEU', 'NIC', 'PNG', 'MDV', 'MLI', 'BHS', 'SLE', 'NOR', 'JOR', 'SSD', 'YEM', 'POL', 'GBR', 'SLV', 'AGO', 'EGY', 'KNA', 'UKR', 'PLW', 'KEN', 'LBR', 'LTU', 'KHM', 'STP', 'BIH', 'LVA', 'QAT', 'CMR', 'BGR', 'BWA', 'KGZ', 'LBN', 'LUX', 'GAB', 'SRB', 'TUV', 'AZE', 'GNB', 'PRK', 'FIN', 'TON', 'JAM', 'CUB', 'AUS', 'BLZ', 'DNK', 'ESP', 'ATG', 'TJK', 'USA', 'PER', 'SUR', 'SWE', 'LAO', 'CPV', 'SWZ', 'TLS', 'MMR', 'UZB', 'MDG', 'COL', 'MAR', 'LSO', 'CYP', 'MNE', 'DZA', 'ITA', 'ARM', 'TZA', 'DJI', 'ALB', 'PAK', 'TGO', 'BFA', 'MOZ', 'BOL', 'BEN', 'COD', 'HTI', 'MLT', 'SVN', 'NGA', 'HND', 'HUN', 'BDI', 'THA', 'TTO', 'VNM', 'GEO', 'MDA', 'VEN', 'MNG', 'ROU', 'BRA', 'CAN', 'ECU', 'CHL', 'TKM', 'NAM', 'NLD', 'CZE', 'AUT', 'ZMB', 'MWI', 'PHL', 'CIV', 'CAF', 'KAZ', 'KWT', 'ERI', 'GHA', 'NRU', 'IDN', 'OMN', 'BGD', 'ETH', 'ARG', 'ISR', 'CRI', 'ARE', 'KOR', 'JPN', 'ZWE', 'KIR', 'VCT', 'TCD', 'MKD', 'SYC', 'GUY', 'BHR', 'COM', 'FJI', 'LBY', 'SDN', 'GIN', 'GMB', 'GNQ', 'RWA', 'AND', 'IND', 'SOM', 'SVK', 'GRC', 'GTM', 'IRN', 'MCO', 'TUN', 'COG', 'NZL', 'MRT', 'SMR', 'LKA', 'MYS', 'EST', 'GRD', 'RUS', 'TUR', 'SEN', 'SGP', 'MEX', 'FRA', 'SLB', 'MUS', 'BRB', 'UGA', 'MHL', 'CHN', 'NER', 'IRL', 'SYR', 'BLR']

In [307]:
print(len(set(Diseases.Code)))
print(len(set(Population.Code)))
print(len(set(Vaccines.Code)))

192
192
192

In [308]:
print(Diseases.head())
print(Population.head())

         Cname Code  year  instances
0  Afghanistan  AFG  2000       6532
1  Afghanistan  AFG  2001       8762
2  Afghanistan  AFG  2002       2486
3  Afghanistan  AFG  2003        798
4  Afghanistan  AFG  2004        466
  Code  year  population
0  AFG  2000  20093756.0
1  AFG  2001  20966463.0
2  AFG  2002  21979923.0
3  AFG  2003  23064851.0
4  AFG  2004  24118979.0

In [309]:
print(Diseases.shape[0])
print(Vaccines.shape[0])
print(Population.shape[0])

3264
3193
3264

In [310]:
Cname = []
Code = []
year = []
instances = []
population = []
percent = []
for i in range(0, Diseases.shape[0]):
    Cname.append(Diseases.Cname[i])
    Code.append(Diseases.Code[i])
    year.append(Diseases.year[i])
    instances.append(Diseases.instances[i])
    population.append(Population.population[i])
    percent.append(100*Diseases.instances[i]/Population.population[i])
DiseaseI = pd.DataFrame()
DiseaseI["Cname"] = Cname
DiseaseI["Code"] = Code
DiseaseI["year"] = year
DiseaseI["instances"] = instances
DiseaseI["population"] = population
DiseaseI["percent"] = percent
DiseaseI.head()

         Cname Code  year  instances  population   percent
0  Afghanistan  AFG  2000       6532  20093756.0  0.032508
1  Afghanistan  AFG  2001       8762  20966463.0  0.041791
2  Afghanistan  AFG  2002       2486  21979923.0  0.011310
3  Afghanistan  AFG  2003        798  23064851.0  0.003460
4  Afghanistan  AFG  2004        466  24118979.0  0.001932

In [311]:
DiseaseI.to_csv("PertussisInfo.csv")

In [312]:
Vaccines.to_csv("VaccinesM.csv")

In [238]:
Code = []
year = []
VaccinePct = []
for v in range(0, Vaccines.shape[0]):
    if Vaccines.year[v]%2000 == 0:

SyntaxError: unexpected EOF while parsing (<ipython-input-238-1d1a7d733bf5>, line 6)